<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.title}}</title>
</head>
<body>
    <form action="/login" method="post">
        <label>name:</label><br>
        <input type="text" name="userName"><br><br>
        <label>face image:</label><br>
        <input type="text" name="faceImageUrl"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>